[2019-12-28 05:44] arunkumar9t2 opened #6 "Provide option to render single graph"
Splitting the graphs by component is nice and keeps graphs readable, but on small projects rendering a single graph would still bring value. Should consider providing option to render single graph.

[2019-12-28 05:49] arunkumar9t2 opened #7 "Render inherited bindings in subcomponents"
Currently due to split by component nature of graphs, subcomponents graph do not render all the inherited bindings. I think inherited bindings are really useful to find out which bindings are inherited and from where.

POC: https://github.com/arunkumar9t2/scabbard/tree/feat/rendering-inherited-bindings

[2019-12-28 05:53] arunkumar9t2 opened #8 "Support more formats like SVG"
[GraphViz-java](https://github.com/nidi3/graphviz-java) already supports multiple formats. Current implementation should be abstracted out to support multiple formats based on input received from Gradle plugin.

[2019-12-28 06:08] arunkumar9t2 opened #9 "Provide option to render simple name instead of qualified name"
Currently we use fully qualified names to render, while this helps to differentiate nodes, more often than not we don't have matching names. Providing option to render simple names would reduce the graph width by a lot.

[2019-12-29 04:51] ursusursus opened #10 "Could not set unknown property 'enabled' for object of type dev.arunkumar.scabbard.gradle.DefaultScabbardSpec."
[code]

[2019-12-29 14:10] bagza commented on #10
Just don't use the '=' sign, call it
[code]
or
[code]

https://github.com/arunkumar9t2/scabbard/blob/f7dda39f8772285a02c680ee76be3a11d25897a1/scabbard-gradle-plugin/src/main/kotlin/dev/arunkumar/scabbard/gradle/DefaultScabbardSpec.kt#L21

[2019-12-29 22:00] matthewrkula commented on #10
Should update the [docs](https://arunkumar9t2.github.io/scabbard/#gradle-plugin) then.

[2019-12-30 09:34] neugartf commented on #10
https://github.com/arunkumar9t2/scabbard/pull/11
PR opened

[2019-12-30 12:24] arunkumar9t2 commented on #10
Sorry it was a silly mistake. I have merged #11. Please use

[code]

I am closing this issue, please feel free to open this if you still have problems.

[2019-12-30 12:24] #10 closed

[2019-12-30 22:18] ZacSweers opened #13 "ScabbardPluginExtension is not configurable from Kotlin"
We have a Gradle plugin that manages setup of our standard project configurations and is written in Kotlin. Most Gradle plugins use a simple interface or abstract class for their plugin extension, but scabbard appears to use an undocumented `Configurable` Gradle API that accepts an untyped `Closure`. The result is we can't configure this extension from Kotlin as the underlying `ScabbardSpec` is no

[2019-12-30 22:37] ZacSweers opened #14 "Support incremental annotation processing"
I remember seeing something somewhere that scabbard disables it (though didn't see anything obvious in code about this). Would be good to have the reasons documented and filing an issue for tracking it. Feel free to close if it's a technical limitation, but would be good to add this in the FAQ

[2019-12-31 05:10] arunkumar9t2 commented on #14
Sorry actually wanted to provide more context around this as an issue but that is something still in my to-do.

Anyways I reran some tests and it actually **appears to be incremental** and I don't see any warning from `kapt` that incremental is disabled. My initial reason for assuming it is non incremental was because I did see incremental disabled logs from `kapt` when I was using an earlier vers

[2019-12-31 06:05] arunkumar9t2 opened #15 "Refactor Scabbard Gradle Plugin extension"
## Context

### Summary
Scabbard's Gradle plugin currently relies on Groovy meta-programming to configure the extension, which makes it hard/confusing for Kotlin users as the syntax can be weird due to typing issues.

### Background
Early development versions did use standard plugin configuration design like
[code]
However this caused issues when reading user configured values from extension and c

[2019-12-31 07:00] arunkumar9t2 commented on #13
Thanks, I understand this is a problem. I gave some background for this in #15. I am still looking for best way to fix this.

As an workaround, please let me know if the below works?

[code]

Not the best syntax I know, will continue investigation this. Please let me know if this works, I can update FAQ.

[2019-12-31 07:04] ZacSweers commented on #13
Where is the `closureOf()` function defined? We're not using Gradle's kotlin-dsl, it's just a gradle plugin written in kotlin.

[2019-12-31 07:04] ZacSweers commented on #13
To be clear - I don't see this function in kotlin-dsl either, but mentioning just in case

[2019-12-31 07:05] ZacSweers commented on #14
Assuming it's just hooking into Dagger's SPI, it should be running whenever dagger runs (aka incrementally)

[2019-12-31 07:08] ZacSweers commented on #13
Well actually, I see it here now https://gradle.github.io/kotlin-dsl-docs/api/org.gradle.kotlin.dsl/kotlin.-any/closure-of.html. Didn't realize it's an extension function on `Any` rather than a free type like the sample snippet seemed to suggest (maybe it's implicitly relying on `project`?)`. Will try out your workaround, though not enthused about it potentially requiring kotlin-dsl :/. Hopefully

[2019-12-31 07:27] ZacSweers commented on #13
That appears to work, so I'll close this out. Wish Gradle would properly document that `Configurable` class

[2019-12-31 07:27] #13 closed

[2019-12-31 07:28] arunkumar9t2 commented on #13
I think it is added to `Any` just to prevent it being accessed statically and only as an instance method.

Here is the [source ](https://github.com/gradle/gradle/blob/master/subprojects/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/GroovyInteroperability.kt#L38)for `closureOf`.

[2019-12-31 07:32] arunkumar9t2 commented on #14
That's my understanding too :) I think it is safe to call it incremental and update the docs.

[2020-01-01 03:27] ZacSweers opened #17 "No gutter icons present nor generated dot/png files in build"
Unfortuantely I can't share the project as it's our internal one, but happy to hop in the debugger locally and breakpoint if I could be pointed to some likely code blocks to check.

[2020-01-01 05:44] arunkumar9t2 commented on #17
Oh, that's unfortunate. As a first step, could you please try enabling the `failOnError` flag which will fail the build on exception in scabbard so we know the cause?
It could be enabled like this
[code]

Additionally, below are important parts in processing step.
-  The [beginning ](https://github.com/arunkumar9t2/scabbard/blob/30d3cb55824c0471e5e98ade0b7de927ea8e8d1f/scabbard-processor/src/main/

[2020-01-01 05:46] arunkumar9t2 opened #18 "Add contribution guidelines"

[2020-01-01 05:49] arunkumar9t2 opened #19 "Add dot command validation in Gradle plugin"
Right now `dot` command is required for scabbard to be useful. We could build a validation step in Gradle plugin that checks for availability of `dot` and fails the build. Additionally providing commands to install `dot` in messages would be nice.

[2020-01-01 05:53] arunkumar9t2 opened #20 "Choose a logging library and provide verbose logging to debug issues"
Looking at [Timber](http://jakewharton.github.io/timber/). Scabbard should expose flag via supported options and gradle plugin should expose API to receive user defined values and delegate it to processor.

[2020-01-01 06:03] arunkumar9t2 opened #21 "Render Component Tree"
In addition to current graphs, we could provide option to render component tree like Uber does with RIBS.

Example:

![](http://1fykyq3mdn5r21tpna3wkdyi-wpengine.netdna-ssl.com/wp-content/uploads/2017/08/image5.png)

Steps:

- [x] Add a separate processor
- [x] `ComponentPath` has parent and child information, use that create a custom tree data structure
- [x] Create a graph with `rankdir = TB`

[2020-01-02 18:35] tir38 opened #22 "Display objects from component dependency differently"
Part of our overall object graph looks like this:

![io orionlabs android feature media di MediaComponent](https://user-images.githubusercontent.com/1980553/71684750-5092d100-2d64-11ea-861a-ffe7c1a4575b.png)

Some of these objects in the graph are coming from a component dependency:

[code]

You can probably infer which ones are coming from SomeOtherComponent based on package name. it would be nic

[2020-01-02 18:36] tir38 opened #23 "Dump all generated images to central directory"
We want to bundle the generated .png files with our internal documentation. It would be helpful if they were all in a single director, w/out having to navigate through the project to find and move them.

[2020-01-02 19:12] jgindin commented on #17
Also failing for me, and I'm also unable to share the project.

I did, as suggested above, add the `failOnError true`. Now when doing a Build -> Rebuild Project from IntelliJ, I get:
[code]

IntelliJ then shows me this error:
`Attempt to reopen a file for path /home/<user>/src/<path/to/code>/build/classes/java/main/<package/path>FooApplicationComponent/<package.name>.FooApplicationComponent.png
`

[2020-01-02 19:51] dhaag23 opened #24 "e: [kapt] An exception occurred: java.lang.NoSuchFieldError: SUBCOMPONENT_BUILDER"
When building, I get the following error:

`> Task :app:kaptInternalDebugKotlin
e: [kapt] An exception occurred: java.lang.NoSuchFieldError: SUBCOMPONENT_BUILDER
	at dagger.internal.codegen.BindingGraphConverter$Traverser.visitComponent(BindingGraphConverter.java:115)
	at dagger.internal.codegen.ComponentTreeTraverser.traverseComponents(ComponentTreeTraverser.java:69)
	at dagger.internal.codegen.B

[2020-01-02 21:51] arunkumar9t2 commented on #24
Thanks for reporting, could you please let me know which Dagger version you are using and if upgrading to latest version fixes this?

[2020-01-03 05:17] arunkumar9t2 commented on #22
Agreed, although package name might not be a universal solution for all projects. I'll check if there is something in the Dagger SPI to differentiate dependencies.

[2020-01-03 05:25] arunkumar9t2 commented on #23
Agreed, I tried to get this done as part of `0.1.0` but could not make it. Rough [implementation](https://github.com/arunkumar9t2/scabbard/commit/07ada58a8b25497e7590eaaf98cfd3efc06e1ddf) which copies all scabbard files to `build/scabbard/` folder.

I'll create a separate issue to discuss the implementation details and link this there.

[2020-01-03 15:48] arunkumar9t2 commented on #17
@ZacSweers , by any chance do you use `allprojects {}` or `subprojects {}` to apply the plugin in a multi-module app?

@jgindin that error (FilerException) is intentionally ignored but the good news is it seems the processor is running. Could flip the failOnError flag to false, run a build and let us know if images are there in the above folder even if gutter icon is not present?

The reason is sc

[2020-01-03 16:03] ZacSweers commented on #17
Yep using subprojects

[2020-01-03 16:25] digitalbuddha commented on #17
this works for me in dropbox paper which is a 50ish module project. Not sure if overkill

[code]

[2020-01-03 17:04] arunkumar9t2 commented on #17
It does not work when using `allprojects` or `subprojects` because this block runs before other plugins declaration in sub project `build.gradle`s are executed, so scabbard thinks `kapt` is not there.

@digitalbuddha thanks! I was just typing the same thing which is to apply the plugin only when `kapt` is added. Below are blocks for both Kotlin and groovy.

[code]
Kotlin
[code]

[2020-01-03 17:51] #18 closed

[2020-01-04 21:58] autonomousapps commented on #15
I'm confused by this statement:

It was not my understanding that the "config phase is over" in an `afterEvaluate` block. Did you test that and it failed?

[2020-01-05 12:55] arunkumar9t2 commented on #15
Yeah you are correct, I need to fix the wording. If I move the logic to `afterEvaluate {}` these are my findings:

- Able to add scabbard dependencies correctly, the extension has user configured values
- Passing compiler options to `javac` and `kapt` does not work. The [code ](https://github.com/arunkumar9t2/scabbard/blob/004116cf6a548022982c7869d7758725c18991f8/scabbard-gradle-plugin/src/main/ko

[2020-01-05 18:28] autonomousapps commented on #15
I use providers and properties exclusively now in my Gradle plugins. They
solve a lot of problems.

On Sun, Jan 5, 2020, 4:55 AM Arunkumar <notifications@github.com> wrote:

[2020-01-06 09:29] gregmcgowan opened #25 "Build fails with java.lang.OutOfMemoryError for large project"
I attempted to use scrabbard on our project and I got an java.lang.OutOfMemoryError

The project is quite large so I kind of expected it. I've included the stacktrace here and can provide other debug output if you want.

17:04:18.895 [ERROR] [org.gradle.api.Task] e: [kapt] An exception occurred: java.lang.OutOfMemoryError: Java heap space
        at java.awt.image.DataBufferInt.<init>(DataBufferIn

[2020-01-06 15:30] bazyle opened #26 "Build fails while updating the generated graph image"
From what I understand from the stacktrace, it's the path that's looking for doesn't exist because of the naming/path naming conventions or something.
It's complaining about:

<path/to/project>/build/tmp/kapt3/classes/devDebug/ie/my/package/di/activities/**ListActivityBindingModule_BindListFragment/ListFragmentSubcomponent**/ie.my.package.di.activities.ListActivityBindingModule_BindListFragment.Li

[2020-01-06 16:22] arunkumar9t2 commented on #26
Could you please try flipping `failOnError` to `false` and check if the png is generated after build and has the correct path? `fullBindingGraphValidation` has tendency to process graph for a component multiple times and that leads to FilerException but in the current implementation it is explicitly ignored and does not affect graph generation behavior. Please let me know if flipping to false work

[2020-01-06 16:45] arunkumar9t2 commented on #25
It seems the error happens when `png` image is generated. Unfortunately scabbard does not have options to configure options for image generation yet. This could possibly be avoided by reducing the dpi of generated image. I will try to provide options in the gradle plugin for next version. In the mean time, may I ask if increasing heap size helps?

One other change I would like to make is to priori

[2020-01-06 17:08] tir38 commented on #23
oh yeah, no rush. I love what you have so far!

[2020-01-06 17:11] tir38 commented on #22
I just meant in my case the package name would show *you* what I'm talking about. I don't think relying on package name to infer component is the right *programmatic* solution. =)

[2020-01-06 18:37] dhaag23 commented on #24
Hi, sorry for the delay. We were using dagger 2.21 and upgrading to 2.25.4 did resolve the build issue. It's not generating the images for me, but that's probably something I did wrong during configuration.

[2020-01-07 02:14] bazyle commented on #26
I've set the `fullBindingGraphValidation` and `failOnError` to `false` and the build runs fine and generates graphs, but not for all the modules. Probably it silently skips the generation for some of the modules/subcomponents.
Anyways, setting `fullBindingGraphValidation` to `false` solved the problem for my instance.
Also, as a side note(or maybe a request?): would it be possible to have gutter i

[2020-01-07 16:54] arunkumar9t2 opened #27 "Add gutter icons for @ContributesAndroidInjector"
# Context

## Summary

We currently target `@Component`, `@Subcomponent` and `@Provides` alone to find the generated graph and add gutter icons. `@ContributesAndroidInjector` is another annotation part of dagger.android that generates a `@Subcomponent` internally. Currently to see the graph of this activity/fragment, we have to open the generated subcomponent and then look for Scabbard gutter icon

[2020-01-07 16:55] arunkumar9t2 commented on #26
Oh thanks for letting me know, I will continue to investigate how FilerExceptions are currently handled.

I was already thinking to add icons for @ContibutesAndroidInjector, I agree this will be helpful. I have created #27 to track that.

[2020-01-08 21:55] arunkumar9t2 opened #28 "Highlight nodes declared via @BindsInstance differently"
Currently bindings exposed via `@BindsInstance` are not differentiated in graph and rendered like any other node. Might be worth highlighting this via color or label.

Notes:
Could use `binding.kind() = BindingKind.BOUND_INSTANCE` to check for this.

[2020-01-09 09:18] gregmcgowan commented on #25
Tried setting the heap size at 15GB at still have the same result.

It's a project with 99 gradle modules and ~7000 classes. Dagger is used pretty extensively so I think even if the PNG could be created it would be not really be usable.

Some options to configure the output sounds like good way forward.

[2020-01-09 14:49] AlexBonel opened #29 "kapt is not listed as a dependency in Installation paragraph"
There's no info about kapt presence in a project on [Installation](https://arunkumar9t2.github.io/scabbard/#installation) paragraph. If you try to use the plugin in a project without `kotlin-kapt` you get an error:

[code]

I think it's better to explicitly list `kapt` as a requirement in this section.

[2020-01-11 21:18] ZacSweers commented on #17
I see. Why is scabbard dependent on kapt? I feel like it's trying a bit too hard to magically cover cases and the result is that it's a bit limited to a single happy path usage as a result

[2020-01-19 17:54] Saba-21 opened #30 "guru.nidi.graphviz.engine.GraphvizException: Initializing graphviz engine took too long."
hi, i set `failOnError true` and got following error

[2020-01-24 15:16] arunkumar9t2 commented on #30
Hello, may I know if you have installed `dot` command and it is available to be invoked from command line?

[2020-01-24 15:19] sabafromwandio commented on #30
@arunkumar9t2 Hello, yes, dot -V returns -

[2020-01-24 15:21] arunkumar9t2 commented on #17
It is not actually dependent just that it need to detect whether `kapt` is available so that scabbard's processor can be applied on `kapt` config when available instead of `annotationProcessor`.

I agree. I assumed specifying plugin order (i.e apply scabbard at the last) would be enough (it does work that way) but overlooked issue when applied via `subprojects`. I have an idea to remove all the ce

[2020-01-24 15:29] arunkumar9t2 commented on #30
Quick search points to this https://github.com/nidi3/graphviz-java/issues/41. Let me investigate if anything can be done from Scabbard. May I know your OS version?

[2020-01-24 15:36] sabafromwandio commented on #30
windows 10 pro v1903 64-bit

[2020-01-24 15:38] arunkumar9t2 commented on #30
Thanks, I will investigate.

[2020-01-24 15:44] arunkumar9t2 commented on #29
Thanks for reporting. `kapt` is not actually need. I have some changes planned as part #15 . Will address this for next release. I am assuming you have tried to apply this on Kotlin multimodule project, if that is the case then please consider trying this [solution](https://github.com/arunkumar9t2/scabbard/issues/17#issuecomment-570633460).

[2020-01-24 15:49] arunkumar9t2 commented on #24
May I know if you are still unable to generate images? The file are usually in `build/tmp/kapt3/classes` for Kotlin and `build/classes/java` for Java projects.

[2020-02-09 17:12] maciej-kaznowski opened #32 "Graphs are generated when disabled"
Hi, I'm trying to publish a release of my app, but the generated graphs are ending up in the release:

gradle plugin version: `0.1.0`

root build.gradle

[code]

module build.gradle:

[code]

I also have the AS plugin installed.
The apk is built via AS (with a release build type)

I also tried with `scabbard {enabled = false}` just under the android block but that didn't fix it.
I deleted all the

[2020-02-10 17:14] arunkumar9t2 commented on #32
Currently the plugin is not Android build variant aware. So whatever configured in the `scabbard {}` applies on a project level instead of Android variant level.

However if you want to differentiate behavior you could do so controlling `enabled` property manually. One such way is to simply check for calling task name and decide if scabbard should run.

For example, the follow snippet disables sca

[2020-02-10 19:54] #9 closed

[2020-02-14 17:22] AlexBonel commented on #29
Sorry for delayed answer. I've tried to apply this on pure Java project and it doesn't work due to the issue 😃

[2020-02-15 15:22] #27 closed

[2020-02-17 19:05] #26 closed

[2020-02-17 19:06] arunkumar9t2 commented on #26
I have fixed the exceptions and also added Gutters for `@ContributesAndroidInjector` in #33. Both should be available in `0.2.0`.

[2020-02-19 19:57] dhaag23 commented on #24
Go ahead and close this, I haven't had time to try this again.

[2020-02-22 14:11] #8 closed

[2020-02-25 16:22] antonicg commented on #17
Im having also a problem in a multimodule project and I think it is related. I set up the configuration @digitalbuddha suggested and it is building the images for most of the components except for the root ones if I set the `failOnError` as `false`. If I set it as `true` it is giving me the following error:

[code]

[2020-02-25 16:45] arunkumar9t2 commented on #17
Hey @antonicg, thank you for reporting. That specific error (`FilerException`) is currently fixed on `master` as part of #34. Also I am working on improving the Gradle plugin syntax and trying to avoid all the ceremony required when using `subprojects` etc.

I am targeting a release soon. Unfortunately, I do not publish snapshot artifacts yet for you to try the fix.

May I understand if gutter ico

[2020-02-25 17:10] antonicg commented on #17
@arunkumar9t2 Yes, I was using the `fullBindingGraphValidation` when I set the `failOnError` as `true`. But the images for the most of the components are generated if I set the `failOnError` as `false`. It is also generating the images no matter the value of `fullBindingGraphValidation`.

Glad to hear that a release will be a release soon with the fix, I will try then 👌

[2020-02-29 20:08] #15 closed

[2020-03-01 00:43] arunkumar9t2 commented on #29
This issue was fixed as part of #15 and will be available in 0.2.0.

[2020-03-01 00:43] #29 closed

[2020-03-01 07:25] arunkumar9t2 commented on #17
I just released `0.2.0` which contains fixes for issues mentioned in this thread.

1. @ZacSweers' usage by `subprojects` or `allprojects`. This is now handled by the plugin itself. When the plugin is applied to a root project, it will automatically configure all subprojects making it easier to apply on multi-module projects. Additionally, the ceremony for configuring from KTS is now not needed.
[c

[2020-03-01 07:29] arunkumar9t2 commented on #24
Thanks for letting me know. I could confirm this is related to dagger version. I have just released `0.2.0` with couple of other fixes.

I am closing this for now, please feel free to open this again when needed.

[2020-03-01 07:29] #24 closed

[2020-03-03 18:57] paxblueribbon opened #40 "e: [kapt] An exception occurred: java.lang.NoClassDefFoundError: dagger/releasablereferences/ForReleasableReferences"
I'm trying to test this out in my project, and I'm getting the error while building:

`e: [kapt] An exception occurred: java.lang.NoClassDefFoundError: dagger/releasablereferences/ForReleasableReferences`

The longer error in the build event KaptDebugKotlin is
[code]
The versions of dagger I'm using are:
[code]
The place where i'm enabling scabbard in my build.gradle is:

[code]

[2020-03-04 03:09] paxblueribbon commented on #40
I switched my gradle file from groovy to kotlin and it worked.  I think the issue may have been using annotationproccessor somewhere i should have been using kapt but it's hard to tell.

[2020-03-04 03:09] #40 closed

[2020-03-05 08:54] Fbada006 opened #41 "Provide simple sample"
Could you please provide a simple sample app for groovy to get started easily? The docs are not naturally intuitive.

[2020-03-13 17:01] ColtonIdle opened #42 "Feature Request - Standalone plugin for showing how injections and providers are connected"
This is sort of a selfish request, but I do like scabbard, but I'm looking for something "simpler" at the same time. I found out that https://github.com/square/dagger-intellij-plugin used to do the trick, but it's for Dagger 1.

Is there anyway that there could be a standalone plugin from scabbard that basically ties these points together so you can easily see who is using what? This really stems

[2020-03-13 18:30] arunkumar9t2 commented on #42
Hi thanks for raising the issue. Apart from visualization I wanted to build useful IDE integrations like this but the thing is I was not sure if the data source Scabbard currently uses (Dagger SPI) has sufficient info at the moment to build something like this. I did not investigate much but I know that it is currently possible to implement this (Providers to Injection) for multibindings.

I'll to

[2020-03-14 00:01] ColtonIdle commented on #42
@arunkumar9t2 thanks for the response! I think for me the biggest thing is that it would be awesome to have a plugin that worked for every dagger project vs something that I have to manually add in for every project.

[2020-03-16 06:57] Saba-21 commented on #30
@arunkumar9t2 fixed in 0.2.0, you can close this issue, great job, keep developing

[2020-04-07 05:28] adroitandroid opened #43 "scabbard icon doesn't show after Studio plugin installation"
hi, thanks for coming up with this!

I have installed the plugin in Android Studio 3.5.3 and also done graphViz installation such that dot -V is returning the version.

I've restarted the Android Studio since doing all the above. Yet I'm unable to get the dagger icon against my dagger subcomponents, components, modules...

What am I missing? Is there any build/run/tools/analyze menu item that will

[2020-04-07 13:43] arunkumar9t2 commented on #43
Hello could you confirm if you have applied the gradle plugin as well and have issued a build? The files are generated during build and icons would be only added after that.

[2020-04-09 22:16] robichaudc commented on #41
I would second this, I have 2 different projects that have the same lines added in build.gradle, but one works and the other doesn't.

Setting failOnError to true doesn't have any effect and I'm not sure how else to debug

[2020-04-10 03:50] arunkumar9t2 commented on #41
Hi thanks for reporting, since version 0.2.0, I have tried to make it simple especially for multi-module projects. Adding the scabbard plugin and the configuration in the root build.gradle file should be enough.

This is a sample setup: https://github.com/arunkumar9t2/scabbard/blob/master/samples/coffee-java/build.gradle

@robichaudc for next version I plan on adding diagnostics to help in identif

[2020-04-10 07:19] adroitandroid commented on #43
added the gradle plugin and it's working all right now, thanks

[2020-04-10 07:19] #43 closed

[2020-04-10 11:47] Fbada006 commented on #41
Hello.
Thanks for getting back to me.
As I was going through the sample, it was difficult figuring out what goes where not to mention that the samples do not use Groovy, which is more popular.
Here are my suggestions:
1. Set up a complete but simple sample of Groovy to quickly get users started.
2. Perhaps a `known issues` section to help users. This is because I had problems determining what was

[2020-04-25 00:58] arunkumar9t2 commented on #42
Hey @ColtonIdle, Android Studio team is building this [natively](https://medium.com/androiddevelopers/dagger-navigation-support-in-android-studio-49aa5d149ec9).

[2020-04-25 01:02] arunkumar9t2 opened #44 "Provide option to open SVG images in browser."
Since 0.2.0, we have option to render svgs and they are made interactive by using hyperlink spec, however the SVG has to be manually opened in the browser for navigation as IntelliJ viewer does not support it.

Should consider providing option to open in browser when clicking SVG gutter.

[2020-05-07 15:00] #42 closed

[2020-05-07 15:01] arunkumar9t2 commented on #32
I am closing this, the solution in above comment should work, please feel free to open if you have any concerns.

[2020-05-07 15:01] #32 closed

[2020-05-07 15:07] arunkumar9t2 commented on #42
I am closing this, please feel free to reopen if you have concerns/FR if AS integration does not fit your use case.

[2020-05-12 15:09] #28 closed

[2020-05-17 08:32] #7 closed

[2020-05-17 15:27] arunkumar9t2 commented on #7
Fixed, scabbard will render inherited bindings as shown below.

<p align="center">
<img src="https://arunkumar9t2.github.io/scabbard/images/dev.arunkumar.scabbard.home.fragment.ModuleHolder_HomeFragmentBuilder_HomeFragment.HomeFragmentSubcomponent.svg">
</p>

[2020-05-18 19:59] ZacSweers opened #48 "0.3.0 fails to build with kapt"
[code]

[2020-05-20 12:51] arunkumar9t2 commented on #48
Thank you for reporting, I am working on a minimal project to try and reproduce this - will report back if I need more details.

May I know if you have `fullBindingGraphValidation` enabled? Please let me know the dagger version and if it works without full graph validation as well. Thanks.

[2020-05-21 03:25] ZacSweers commented on #48
Yeah that's with it enabled, and the dagger argument is set to `ERROR`

[2020-05-21 03:26] ZacSweers opened #49 "Scabbard applies itself even when dagger is not present/used"
This leads to warnings in kapt when it doesn't run

[code]

[2020-05-21 03:31] arunkumar9t2 commented on #49
Thanks, noted. Will target a fix for 0.3.1.

[2020-05-21 04:41] arunkumar9t2 commented on #48
So it works without full graph validation?

By any chance `LogSyncBaseModule` has a binding exposed utilizing `slack.telemetry.Metrics` but that class is in a different module/transitive dep of another module?

Seems related to https://github.com/google/dagger/issues/970. The only place I access raw `Types` apart from already parsed dagger ones in when I try to parse simple names. I will try to co

[2020-05-21 04:57] ZacSweers commented on #48
Let me try to build with the dagger option on bit without scabbard enabled
and see if it still happens

On Thu, May 21, 2020 at 12:42 AM Arunkumar <notifications@github.com> wrote:

[2020-05-21 05:30] ZacSweers commented on #48
Building with scabbard disabled but the dagger option for full binding
graph validation appears to work fine

On Thu, May 21, 2020 at 12:57 AM Henri Sweers <pandanomic@gmail.com> wrote:

[2020-05-21 05:41] arunkumar9t2 commented on #48
Any luck with setting `qualifiedNames` to true?

[2020-05-21 05:52] ZacSweers commented on #48
Still fails with that set to true as well :/

[2020-05-21 07:58] arunkumar9t2 commented on #48
Thanks, I will investigate. Just to confirm scabbard's `fullBindingGraphValidation` is set to `false` right?

[2020-05-21 07:59] ZacSweers commented on #48
I have the same result regardless I think. Can confirm tomorrow. These
tests for sure at least cover with it set to true

On Thu, May 21, 2020 at 3:58 AM Arunkumar <notifications@github.com> wrote:

[2020-05-21 17:20] speedysingh786 opened #50 "I don't see gutter icon on my intellj idea after installing plugin"
Dagger 2 version 2.24
Scabbard version 0.3.0
intellj version 2020.1.1
I'm using Maven 3.3 to build my project

[2020-05-23 14:23] arunkumar9t2 opened #51 "Explore interactive HTML based reports for visualizing graphs"
Could build interactive web based visualization for larger graphs.

- https://d3js.org/
- https://visjs.org/

[2020-05-23 14:30] arunkumar9t2 opened #52 "Add gutter logic to consider images generated from Hilt."
Scabbard already works with Hilt but the naming convention for generated images have changed. Particularly `@AndroidEntryPoint` and `@EntryPoint`.

Need to update gutter logic to look for these new annotations and map them to generated component images just like how `@ContributesAndroidInjector` support works currently.

[2020-05-23 14:31] arunkumar9t2 commented on #52
![EX-p0uHU0AAVdNp](https://user-images.githubusercontent.com/3940492/82733239-1f339580-9d45-11ea-88f2-ab1a0904717f.png)

[2020-05-31 13:10] #30 closed

[2020-06-01 18:43] Morteza-Rastgoo commented on #48
Same issue here...
[code]

[2020-06-01 20:31] arunkumar9t2 commented on #48
Will look into this soon, @Morteza-Rastgoo, could you please run the build with `./gradlew <yourbuildcommand> --stacktrace` and let me know the stack trace?

@ultraon From a cursory look, seems unrelated to this issue. I will create a separate issue for that log4j error.

[2020-06-06 01:56] NaturallyAsh commented on #50
This happened to me.  File -> Invalidate Caches/Restart.  When it starts up again, if you still do not see the gutter icon, try Build -> Rebuild project.

[2020-06-13 15:45] NaturallyAsh opened #54 "Incompatible with Dagger Hilt?"
The graph worked very well with dagger, but I just migrated to dagger hilt and it no longer functions the same.  Will you be added support for Hilt in the future?  It seems that Hilt will become the main dagger according to Google.

[2020-06-13 15:53] arunkumar9t2 commented on #54
Hi, thanks for letting me know. I am aware of this. But the graph itself would have been generated, just that gutter icon on Android Studio would be missing, since I have not added support for it yet.

I have attached a sample in #52 and tracking this there.

The graphs' location would be:

[code]

If you find any other issue such as build failure or graphs not available, please add the details in

[2020-06-13 15:54] #54 closed

[2020-06-15 13:06] arunkumar9t2 commented on #17
As mentioned in my previous comment, core issues that would cause the annotation processor to not run/fail was addressed. I am closing this for now, please feel free to open again if there are any issues.

[2020-06-15 13:06] #17 closed

[2020-06-15 13:50] arunkumar9t2 opened #55 "Fix missing SLF4J impl warning"
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

[2020-06-15 14:44] #55 closed

[2020-06-16 16:44] arunkumar9t2 commented on #50
@speedysingh786 Scabbard generates images during build and IDE plugin simply links the generated images to respective components. It was built for Gradle but it is possible to make it work with Maven as well.

I have just updated the docs here explaining how to configure for maven projects: https://arunkumar9t2.github.io/scabbard/configuration/#maven

Please try this and let me know should you run

[2020-06-16 16:44] #50 closed

[2020-06-19 16:28] #52 closed

[2020-06-20 10:37] arunkumar9t2 opened #59 "Make Gradle plugin Android Variant aware."
Currently the gradle plugin is not Android aware and adds processor to app level instead of variant level. Should consider making it such that it is variant aware and only adds scabbard to debug build types.

- [ ] Add dependency on AGP
- [ ] Change application logic to only consider `variant.buildType = 'debug`.

[2020-06-20 12:52] msasikanth opened #60 "Support for creating top down graph"
It will be nice to have an option to create a top-down graph that starts with the application component at the top and goes down to entry points at bottom of the graph.

[2020-06-20 23:48] arunkumar9t2 commented on #21
Fixed in #61

[2020-06-20 23:48] #21 closed

[2020-08-11 12:33] lectricas opened #62 "Unclear documentation."
Hi. I'm trying to use this tool and I stumble across some issues.
First of all, it's unclear from https://arunkumar9t2.github.io/scabbard/ this page how exactly to install the tool.
Does the plugin works alone, or I need to setup gradle files also?

Also, filepath for generated files is wrong for me.
I found generated files by this path
`./app/build/intermediates/javac/debug/classes/scabbard`

Als

[2020-08-14 08:24] ColtonIdle commented on #62
I'm having a similar issue. Trying to use this on my project to no avail. I'm using latest agp, gradle etc. Not sure why the issue.

[2020-08-14 09:50] lectricas opened #63 "Error after removing scabbard, which cannot be fixed by clean"
`Cause: loader constraint violation in interface itable initialization: when resolving method "com.android.build.gradle.internal.api.VariantFilter.getBuildType()Lcom/android/builder/model/BuildType;" the class loader (instance of org/gradle/internal/classloader/VisitableURLClassLoader) of the current class, com/android/build/gradle/internal/api/VariantFilter, and the class loader (instance of org/

[2020-09-04 20:13] brookmg opened #64 "Does this work with hilt as well?"
As [Hilt](https://dagger.dev/hilt/) is made on top of Dagger2, does it support it?

[2020-09-04 20:19] #64 closed

[2020-11-26 10:48] AlexShafir opened #67 "Bump to Kotlin 1.4.20"
My project uses Kotlin 1.4.20 (latest release).
After I installed Scabbard, project was built successfully.
However, IDE started to show error "Kotlin plugin version is not the same as library version”.

It seems that Scabbard indeed uses Kotlin 1.3.72: https://github.com/arunkumar9t2/scabbard/blob/0.4.0/constants.gradle

[2020-12-12 23:13] phreed opened #68 "Document `doc` registration"
In the `index.md` the following lines appear.

After installation, verify installation by executing `dot -V`, example:

[code]
These instructions are fine as far as they go but it may also be necessary to register the layout engines.
This can be done with the following command (immediately after verifying that dot is installed).

[code]

[2020-12-31 20:06] trevjonez commented on #14
I believe this issue should be reopened.

Builds with scabbard produce KAPT warnings about the dot files not having originating elements.
[code]
after benchmarking with the gradle profiler feeding into gradle enterprise it is pretty easy to see that kapt is doing far more work when scabbard is enabled vs disabled.

configuration is roughtly:
[code]

[code]

produced this shape in GE
Build times fr

[2021-01-13 11:47] GreyLabsDev opened #69 "Build failed after Scrabbard gradle plugin setup"
All builds failed with this error:
**Execution failed for task ':app:kaptDebugKotlin'.**

My build.gradle (application)
[code]

My build.gradle (root)

[code]

[2021-01-17 18:16] arunkumar9t2 commented on #69
Hello could you please help in attaching the full stack trace of the error?

[2021-01-17 18:19] arunkumar9t2 commented on #67
Thanks for reporting, I will work on updating to 1.4.+ for next release.

[2021-01-17 18:29] arunkumar9t2 commented on #62
Hi apologies for delay in triaging, I am working on revamping the documentation.

The gradle plugin can be applied to either root or app level build.gradle, however root build.gradle is preferred since it will automatically configure all available modules.

Could you please let me know if the following works?
Right click on the `./app/build/intermediates/javac/debug/classes/scabbard` folder in And

[2021-01-17 18:33] arunkumar9t2 commented on #14
Hi @trevjonez, thank you for detailed analysis, I am reopening this and will work on this on priority for next release.

It is true that scabbard does more work when enabled due to graph generation however I understand incremental build needs to be looked at priority.

[2021-01-20 16:22] #67 closed

[2021-02-01 08:52] mrmojtabaa opened #71 "build problem when plugin is enabled (dagger.releasablereferences @CanReleaseReferences)"
I have this problem when the plugin is enabled.

and when i build with --stacktrace . this is the details.

	at dagger.internal.codegen.ForReleasableReferencesValidator.annotations(ForReleasableReferencesValidator.java:69)
	at dagger.shaded.auto.common.BasicAnnotationProcessor.getSupportedAnnotationClasses(BasicAnnotationProcessor.java:147)
	at dagger.shaded.auto.common.BasicAnnotationProcessor.ge

[2021-02-20 09:42] mrmojtabaa commented on #71
@arunkumar9t2 Any suggestions?

[2021-02-20 10:21] arunkumar9t2 commented on #71
Hello, thanks for reporting. Could you share which dagger version are you using?

[2021-02-20 11:19] mrmojtabaa commented on #71
Wow !! I just upgraded my Dagger version to the latest version (2.32) and everything is working!
Thanks for your suggestion, and for the library you made.

[2021-02-20 11:19] #71 closed

[2021-02-21 05:30] arunkumar9t2 commented on #71
Great, thank you for using it!

[2021-02-23 22:23] Mervyn-Anthony-Bose opened #72 "Plans to publish to MavenCentral?"
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-03-03 22:17] arunkumar9t2 commented on #72
Yes, it is planned. Will aim to do for next release.

[2021-04-17 18:34] arunkumar9t2 opened #78 "Consider generating files to `StandardLocation.SOURCE_OUTPUT`"
### Context

Currently Scabbard writes the visualization files to `StandardLocation.CLASS_OUTPUT`. We could consider generating the files to `StandardLocation.SOURCE_OUTPUT` instead for the following reasons.

- StandardLocation.SOURCE_OUTPUT is known to IntelliJ as source root so by default it will be indexed as opposed to CLASS_OUTPUT which may not be indexed, at least for Kotlin the generated f

[2021-04-18 16:48] #78 closed

[2021-04-19 16:56] arunkumar9t2 commented on #49
Update: I saw this https://github.com/JetBrains/kotlin/commit/19708cfa8708bc36da17601f13fe9921d7a380ef and also now Kapt options are using `provider` instead of evaluating eagerly. I will investigate if this can be fixed soon,

[2021-04-24 21:01] #20 closed

[2021-04-29 00:54] namgk opened #82 "Standalone Android Studio Sample"
Hi there,

Could you please provide a standalone sample for Android/Hilt integration?

I cannot seem to add/enable scabbard in my project and the provided samples in this repositories have some dependencies to this own project like gradle apply to other gradle files that I have no idea what it is:

    apply from: "../../gradle/scabbard-local-processor.gradle"

For my problem, it seems the gradle

[2021-04-29 01:12] namgk commented on #82
Seems like I found something helpful, it works when I added the followings:

[code]

My current project already has these, which I thought was enough:

[code]

I think it needs better integration with Hilt-based project.

[2021-04-30 17:48] arunkumar9t2 commented on #82
I will work on adding a sample in a separate repo. Thanks for letting me know.

Yes the workaround seems correct, I will fix detection for next release.

[2021-04-30 18:20] arunkumar9t2 commented on #82
Fixed by https://github.com/arunkumar9t2/scabbard/pull/70

Sample issue is tracked in #41

[2021-04-30 18:21] #82 closed

[2021-05-01 11:47] ruieduardosoares commented on #49
@arunkumar9t2 i also have this issue an nothing is being generated in kapt3/classes/ folder.
![image](https://user-images.githubusercontent.com/13103244/116781539-6a891480-aa7b-11eb-8275-32fb6beedbf3.png)

[2021-06-19 14:42] #44 closed

[2021-06-20 10:24] #72 closed

[2021-06-25 02:27] es0329 opened #92 "Build fails resolving transitive dependency"
Would [a newer version of kittinunf/Result](https://mvnrepository.com/artifact/com.github.kittinunf.result/result) in scabbard solve this problem?

[code]

[2021-06-25 03:18] nirmaljeffrey opened #93 "Gradle sync failing when scabbard plugin is added"
Project build.gradle
[code]

gradle version: 6.1.1
android gradle plugin version: 4.0.0
dagger hilt version: 2.31-alpha
androidX hilt version: 1.0.0-alpha03

stacktrace:
[code]

[2021-06-25 03:35] arunkumar9t2 commented on #93
Thanks for reporting. Could you also share the Kotlin version? Also please check if version Kotlin 1.5.10 fixes it?

[2021-06-25 05:48] nirmaljeffrey commented on #93
Thanks @arunkumar9t2 for the quick reply. The multimodule project where I tried to use scabbard doesn't have kotlin plugin(Its a java project). So, I had to make below changes to make it work,

          1.  Added kotlin gradle plugin with version 1.5.20
          2. Updated gradle version from 6.1.1 to 7.0
          3.  Updated android gradle plugin version from 4.0.0 to 4.2.0

It would be great

[2021-06-25 05:48] #93 closed

[2021-06-28 05:30] arunkumar9t2 commented on #92
Ah, I will update to latest version and do a hotfix release.

[2021-07-17 16:17] #92 closed

[2021-07-20 21:16] beForged commented on #69
I have also encountered the same issue

[code]

[code]
and with stacktrace attached

[scabbardKaptStackTrace.md](https://github.com/arunkumar9t2/scabbard/files/6851255/scabbardKaptStackTrace.md)

[2021-08-18 10:04] paynd commented on #92
Still happens in 0.5.0, should I use 0.5.1?

[2021-08-18 13:16] arunkumar9t2 commented on #92
Hey @paynd, this is fixed in `main` branch but `0.5.1` is not released it. In the mean time, please use a custom resolution strategy to force gradle to use 3.0.1 version of the transitive dependency like below

[code]

I added an example PR here: https://github.com/arunkumar9t2/scabbard-sample/pull/1/files

[2021-08-18 19:17] paynd commented on #92
Yep, it works!

[2021-08-26 15:28] nirmaljeffrey opened #99 "Interactive SVGs are not generated in scabbard 0.5.0"
scabbard gradle version: 0.5.0
scabbard intellij plugin version: 0.5.0
project link - [https://github.com/nirmaljeffrey/PokeDex](https://github.com/nirmaljeffrey/PokeDex)

Only png and dot files are generated. @arunkumar9t2 can you please help me to resolve this issue?

[2021-08-26 15:50] #99 closed, assigned to nobody

[2022-01-14 18:37] rsavutiu commented on #6
This is why I tried your library.... I would really appreaciate it...for smaller projects this is super valid

[2022-01-31 18:39] jisungbin opened #100 "Could not find com.github.kittinunf.result:result:3.0.0."
I am using the latest version 0.5.0, and when I build it, the below error occurs:
[code]

I think `com.github.kittinunf.result:result:3.0.0` was removed from Maven. Can you replace this dependency with the latest version?

![image](https://user-images.githubusercontent.com/40740128/151852997-b1b17d40-c051-4854-9620-aa9e9961642f.png)

Here is Maven link: [search.maven.org/search?q=g:com.github.kitt

[2022-01-31 19:14] arunkumar9t2 commented on #100
Hi thanks for reporting, it is fixed in `main` but I have not published a new version. I will try to do asap. Meanwhile please follow the changes in this PR.

https://github.com/arunkumar9t2/scabbard-sample/pull/1/files

[2022-02-01 01:40] jisungbin commented on #100
Thanks for the quick reply! I think I solved it!!
Should I close the issue?

[2022-02-03 09:22] #100 closed

[2022-02-04 18:34] jisungbin opened #101 "png generate is always empty."
I am using the latest version of Scabbard, and Graphviz is also installed with the latest version. But when I build, a .dot file is created, but png is always created as an empty file. It is the same even if I set the creation option with svg. The gradle scabbard option is written as below.

[code]

What's the problem?

These pictures are Scabbard generate files. The first entry is a .dot file and

[2022-02-09 02:37] arunkumar9t2 commented on #101
I will investigate and get back, thanks.

[2022-03-07 16:17] amonett1-ford commented on #101
I had the same problem, I had to change the outputFormat to "svg" and then it generated correctly in svg.

[2022-03-29 19:21] overheadhunter commented on #100
Sadly the workaround doesn't work for Maven projects, as Maven's dependency management doesn't work for annotation processors. So could you please release a new version with the `3.0.1` dependency?

[2022-03-29 20:08] arunkumar9t2 commented on #100
Hi thanks for raising this up, I will try to release hot fix asap.

[2022-04-06 19:51] jeffzoch opened #103 "Any chance this works with Bazel?"
Hoping to try this out in bazel - has anyone tried this before?

[2022-04-06 20:58] arunkumar9t2 commented on #103
I think image generation should work fine when the annotation processor is added as `java_plugin`. IDE integration probably needs work, let me investigate and add official samples.

[2022-04-06 22:37] jeffzoch commented on #103
Thank you! I am currently trying to get image generation working myself - not sure which processor should be set as the processor_class in the java_plugin though

[2022-06-16 18:33] theindexer commented on #103
I have it working with
[code]
and then running `bazel build //path/to/your/java/library_or_binary --plugin //path/to/scabbard`
The source code indicates that it is written to https://docs.oracle.com/javase/7/docs/api/javax/tools/StandardLocation.html#SOURCE_OUTPUT
which turns out to be `bazel-bin/path/to/your/java/library_or_binary/library_or_binary-gensrc.jar`
Unzipping that jar shows a `scabbard

[2022-07-13 17:00] arunkumar9t2 opened #105 "Fix images not generated for Hilt components when using Dagger 2.40+"
Currently images are not generated for hilt components due to Hilt's aggregating task ignoring SPI plugins on the classpath. A possible fix is presented [here ](https://github.com/google/dagger/issues/3464#issuecomment-1182532596), so we could add the scabbard processor to hilt classpath manually for those affected versions from the gradle plugin. Additionally need to ensure the setup works for Ko

[2022-07-27 02:51] arunkumar9t2 commented on #22
This was blocked by https://github.com/google/dagger/issues/3483. Now that is implemented in Dagger, I will try to display component dependencies differently.

[2022-08-08 05:49] arunkumar9t2 commented on #103
Thanks @theindexer

I am looking towards an official way to support this possibly with first party bazel rules. Experimented with a aspect here https://github.com/arunkumar9t2/bazel-playground/blob/main/tools/generated_sources_collector/generated_sources_collector.bzl that merges source jar for all transitive dependencies unzippping which will give you all the images.

[Example](https://github.com

[2022-08-12 00:17] reddigfabian opened #114 "Incompatible with Android Gradle Plugin"
Any chance we could get a version bump? Seeing the following error when setting up Scabbard:

`The Android Gradle plugin supports only Kotlin Gradle plugin version 1.5.20 and higher.
The following dependencies do not satisfy the required version:
project ':app' -> scabbard.gradle:scabbard.gradle.gradle.plugin:0.5.0 -> gradle.plugin.dev.arunkumar:scabbard-gradle-plugin:0.5.0 -> org.jetbrains.kotlin

[2022-09-18 15:02] lovely-karn opened #116 "Could not find com.github.kittinunf.result:result:3.0.0"
Hi, firstly thanks for the wonderful plugin :)
Going Forward, I installed graphviz & added, as mentioned for Scabbard Gradle Plugin but I am getting the following error, attaching error images. Please help to fix this.

<img width="1027" alt="Screenshot 2022-09-18 at 8 26 59 PM" src="https://user-images.githubusercontent.com/16070163/190913726-c4d89c6e-edaf-46f5-9e00-55b64b6cac50.png">
<img width=

[2022-10-11 02:13] es0329 commented on #116
Hi @lovely-karn. I've seen this problem. IIRC, [@arunkumar9t2's comment here](https://github.com/arunkumar9t2/scabbard/issues/92#issuecomment-901107022) helped me.

[2022-11-28 22:19] Jesse-Weinstein-Zonar opened #121 "NoSuchMethodError: 'dagger.model.BindingGraph dagger.model.BindingGraph.create(com.google.common.graph.Network, boolean)"
When I enable scabbard on my project (not FOSS, sadly, so I can't share it), the build fails with this ... less than clear error.

[code]

I'm still working on trying to debug it, but wanted to drop an issue here, mainly just in case anyone else comes across it, they will know. they aren't alone.

[2022-11-29 02:30] arunkumar9t2 commented on #121
Thanks for reporting, may I know the Dagger version you are using and if upgrading Dagger fixes it?

[2022-11-29 16:59] Jesse-Weinstein-Zonar commented on #121
Whoops, forgot that -- I can confirm that I see the problem when using the most current version of Dagger2, 2.44.2.